@font-face {
   font-family: 'airstrike';
   font-display: swap;
   src: url('file:///C:/Users/inazi/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-14_152454/fonts/airstrike/font.ttf');
}
